.contenedorslideimagenes{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: center;
	padding-top: 20px;
}

.caja{
	position: relative;
	width:200px;
	height:200px;
	transform-style: preserve-3d;
	transform-origin: 100px 100px;
	animation:girar 5s linear infinite;
}

.cara{
	position: absolute;
	width:200px;
	height:200px;
	backface-visibility: hidden;
}

.cara img{
	width:200px;
	height:200px;
	object-fit: cover;
}

.cara1 {
      transform: translateZ(100px);
    }

.cara2 {
  transform: rotateY(90deg) translateZ(100px);
}

.cara3 {
  transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
}

.cara4 {
  transform: rotateY(180deg) translateZ(100px);
}

    .cara5 {
  transform: rotateY(-90deg) translateZ(100px);
}

.cara6 {
  transform: rotateX(-90deg) translateZ(100px);
}

@keyframes girar {
  0% {
    transform: none;
  }
  100% {
    transform: rotateY(-360deg); /_ Rotación hacia la izquierda _/
  }
}
