.recp{
	display: flex;
	flex-direction: column;
	background-color: white;
	box-shadow: 0 0 10px;
}

.recp2{
	display: grid;
	grid-template-columns: auto auto auto ;
	justify-content: center;
}

.caja{
	width: 250px;
	height: 200px;
	margin: 10px;
	background: lightgray;
	border: black solid;
}

.recp2 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}