footer{
	clear: both;
	padding-top: 10px;
	background: royalblue;
	margin-bottom: 10px;
	height: 25px;
}

footer b{
	color: white;
}

marquee{
	display: inline-block;
	animation: marquee 20s linear infinite;
}