.contenedorrc{
	display: block;
	background-color: white;
	box-shadow: 0 0 10px;
}

.contenedorrc2{
	display: flex;
}

.titulorc h1{
	text-align: center;
	font-size: 30px;
	padding: 20px 0;
	font-weight: 1000;
}


.divrc{
	display: flex;
	align-items: center;
	width: 50%;
	padding: 30px;
}

.divimg{
	width: 50%;
	padding: 10px;

}

.rsh, .rsc{
	text-align: justify;
	font-weight: bolder;
	font-size: 20px;
}

.foto{
	border-style: solid;
	border-width: 1,5px;
	border-radius: 25px;
	width: 100%;
}

.contenedorrh{
	display: block;
	background-color: white;
	box-shadow: 0 0 10px;
}

.contenedorrh2{
	display: flex;
}

.titulorh h1{
	text-align: center;
	font-size: 30px;
	padding: 20px 0;
	font-weight: 1000;
}

.imgrh{
	display: flex;
	width: 50%;
	padding: 10px;
	align-items: center;
	justify-content: center;
}

.textrh{
	display: flex;
	align-items: center;
	width: 50%;
	padding: 30px;
}

.fotorh{
	border-style: solid;
	border-width: 1,5px;
	border-radius: 25px;
	width: 90%;
	height: 90%;
}